# Tor Control данные для Tor сети
TOR_CONTROL_PASSWORD=changeme
TOR_CONTROL_PASSWORD_HASH=generatedhash

# Circuit Manager 
CIRCUIT_ROTATION_INTERVAL=300
MAX_CIRCUIT_AGE=900
MIN_CIRCUITS=2

# Учетки
FORUMNAME1_USER=username
FORUMNAME1_PASS=password
FORUMNAME1_COOKIE_USER=xf_user
FORUMNAME1_COOKIE_SESSION=xf_session

FORUMNAME2_USER=username
FORUMNAME2_PASS=password
FORUMNAME2_COOKIE_USER=xf_user
FORUMNAME2_COOKIE_SESSION=xf_session
# и так далее
# Количество одновременно качающих воркеров (по умолчанию 1-2)
MAX_CONCURRENT_TASKS=number_of_tasks
# Как часто шедулер забирает новые задачи из базы (в минутах)
CRAWL_INTERVAL_MINUTES=interval_in_minutes
# Включает глубокий парсинг самих сообщений внутри тем (Deep Crawl). 
# Установлено в false для экономии, так как пока что нет ресурсов реализовать отказоустойчивый парсер содержимого сообщения без моментального бана/отлупа по DDoS)
ENABLE_DEEP_CRAWL=false
